@import "../../scss/base";
@import "../../scss/mixin";

.nameLinks {
  display: flex;

  @include respond(tablet) {
    justify-content: space-around;
  }
}

.name {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-right: 2rem;
  cursor: pointer;
  letter-spacing: 0.3rem;

  @include respond(tablet) {
    margin-right: 0;
  }

  &:hover {
    border-bottom: 2px solid $color-secondary-1;
  }
}

.active {
  border-bottom: 2px solid $color-secondary-1;
}
