@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideMenuIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes showParagraph {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-60%);
    opacity: 0;
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0 100%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  }
  100% {
    opacity: 1;
  }
}

// @keyframes slideMenuOut {
//   0% {
//     opacity: 1;
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(100%);
//     opacity: 0;
//   }
// }
